@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

h1 {
  align-self: center;
  font-family: 'Roboto Mono';
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #C6EBF2;
  display: flex;
  justify-content: space-between;
}

main {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

li {
  list-style-type: none;
}

a {
  color: #000;
}

a:hover {
  background-color: #C6EBF2;
}

img {
  max-width: 20%;
  height: auto;
  padding: auto;
}

footer {
  background-color: #C6EBF2;
  margin-top: auto;
  margin-bottom: 0;
  text-align: center;
}
