@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

h1 {
	color: #ef2d56;
	font-family: 'Varela Round', sans-serif;
}

a {
	color: #ef2d56;
	font-family: 'Varela Round', sans-serif;
}