@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

h1, h2, h3, h4, h5, h6, a, ul, ol {
	font-family: 'Itim', cursive;
	color: #B62443;
	background-color: #edc639;
	padding: 1em;
	text-align: center;
}

li {
	margin: 1em;
	list-style: none;
}

main {
	margin: 1em;
}

p {
	font-family: arial;
	text-align: center;
}

img {
	max-width: 90vw;
}