@media only screen and (min-width:600px) {

	/* RESET */
	body, p, a, ul, li {
		margin: 0;
		padding: 0;
	}

	/* BASE STYLES */
	main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;	/* 	max-width: 960px; */
	}

	body {
		font-family: 'Poppins', sans-serif;
	}

	a {
		color: purple;
	}

	.principle {
		background-color: #CCFAC4;
		margin: 1em;
		padding: 1em;
	}

	.ss {
		margin: auto;
		max-width: 100%;
	}

}
