@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
	--khaki: #C4B8A2;
	--primary: 'Itim', cursive;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--primary);
}

div {
	font-family: arial;
}

header {
	font-family: var(--primary);
	padding: 1em;
	display: flex;
	text-align: center;
	align-items: center;
	background-color: var(--khaki);
}

#headerContainer {
	margin-left: auto;
	margin-right: auto;
}

#logo {
	width: 100px;
	height: 100px;
	margin-right: 1em;
}

nav span {
	color: #fff;
}

nav ul {
	display: none;
}

nav a:hover {
	color: var(--khaki);
	background-color: #000;
	padding: 1em;
}

nav ul.active {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	list-style: none;
	background-color: var(--khaki);
}

nav li {
	padding: 1em;
}

#buttonContainer {
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background-color: #000;
	border: none;
	padding: 1em;
}

.hamburger {
	width: 35px;
	height: 5px;
	margin: 6px 0;
	background-color: #fff;
}

img {
	width: 20vw;
}

a {
	font-family: var(--primary);
	color: #000;
}

footer {
	margin-top: 100px;
	font-family: var(--primary);
	background-color: var(--khaki);
	padding: 1em;
	text-align: center;
}
