@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 960px;
    font-family: 'Red Hat Mono', monospace;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #dbc1ab;
	text-align: center;
}

.menu button {
	padding: 1rem;
	background-color: #dbc1ab;
	color: #000;
}

.menu button:hover {
	background-color: #000;
	color: #dbc1ab;
	transition-duration: 1s;
}

article,
section {
	margin: 0.75rem;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #dbc1ab;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: row;
	justify-content: left;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none;
}

section h3 {
	font-size: 1.5rem;
}

img {
	height: 75px;
	max-width: 100%;
}

@media (min-width: 992px) {
	.list section img {
		display: block;
	}
}
