@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 960px;
    font-family: 'Red Hat Mono', monospace;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #dbc1ab;
	text-align: center;
}

.menu button {
	padding: 1rem;
	background-color: #dbc1ab;
	color: #000;
}

.menu button:hover {
	background-color: #000;
	color: #dbc1ab;
	transition-duration: 1s;
}

article,
section {
	margin: .25rem;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #dbc1ab;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: row;
	justify-content: left;
	margin: .2em;
}

.list section > * {
	margin: 0 .5rem;
	text-align: left;
}

.list section img {
	display: none;
}

.list h6 {
	margin:0;
}

section h3 {
	font-size: 1.5rem;
}

img {
	height: 75px;
	max-width: 100%;
}

@media (min-width: 992px) {
	.list section img {
		display: block;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
.primaryFont {
    font-family: 'Red Hat Mono', monospace;
}

#headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#headerBottom {
	margin-top: 2em;
	display: flex;
	justify-content: space-around;
}

.navigation li {
    display: none;
}

.navigation li:first-child {
    display: block;
}

.responsive li {
    display: block;
	padding: .5em;
}

nav ul {
    padding: 0px;
    margin: 0;
}

#hamburger {
    width: 30px;
    height: 30px;
}

.socials {
    width: 25px;
    height: 25px;
    color: #000;
}

header a {
	color: #000;
}

footer {
    background-color: #000;
    color: #dbc1ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

footer div {
    padding-top: 1rem;
    padding-bottom:1rem;
}

#footerBottom {
    background-color: #dbc1ab;
    color: #000;
    width: 100%;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

footer a {
	color: #fff;
}