@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
.primaryFont {
  font-family: "Red Hat Mono", monospace;
}

/* HEADER STYLES */


header img {
    width:70px;
    height: 70px;
    padding: .5rem;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

nav a, nav li {
    color: #000;
}

#headerWrapper {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: #dbc1ab;
    padding: .5rem;
}

#headerBottom {
    display: flex;
    background-color: #000;
    color: #dbc1ab;
    padding: 1rem;
    justify-content: space-between;
}

#headerBottom a {
    color: #dbc1ab;
}

#hamburger {
    width: 40px;
    height: auto;
}

nav ul li{
    margin: .75em;
}

.navigation li {
    display: none;
  }
  
  .navigation li:first-child {
    display: block;
  }
  
  .responsive li {
    display: block;
  }

/******************************************/

footer img {
    width: 100%;
}

#hero {
  background-image: url("../images/hero-image.jpg");
  background-color: #fff;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

