@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
.primaryFont {
    font-family: 'Red Hat Mono', monospace;
}

#headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 50px;
    height: 100%;
}

footer img {
    width: 70px;
}

.mainSection {
    background-color: #dbc1ab;
    height: 35vw;
    padding: .5rem;
    margin: .5rem;
}

header h1 {
    margin: 0;
}

.navigation li {
    display: none;
}

.navigation li:first-child {
    display: block;
}

.responsive li {
    display: block;
}

nav ul {
    padding: 0px;
    margin: 0;
}

#hamburger {
    width: 30px;
    height: 30px;
}

.socials {
    width: 25px;
    height: 25px;
    color: #000;
}

footer {
    background-color: #000;
    color: #dbc1ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

footer div {
    padding-top: 1rem;
    padding-bottom:1rem;
}

#footerBottom {
    background-color: #dbc1ab;
    color: #000;
    width: 100%;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

#spotlight3 {
display: none;
}

#join {
    display: none;
}

footer a {
    color: #fff;
}

.responsive {
    color: #000;
}

nav li {
    padding: .25rem;
    width: 100%;
}

nav a {
    color:#000;
    display: block;
    width: 100%;
}

#currentDate {
    padding: 1rem;
}

button {
    padding: .5rem;
}

.mainSection img {
    width: 60px;
}

.mainSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#hero {
    
    background-image: url("../images/hero-image.jpg");
    
    background-color: #fff;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: #dbc1ab;
}

#hero a {
    padding: .5rem;
    background-color: #000;
    color: #fff;
}

#hero img {
    width: 100%;
    height: auto;
}


#heroWrapper {
    background-color: #dbc1ab;
    margin: .75rem;
    padding: 1rem;
}

#headerBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: #000;
}

button a {
    color: #dbc1ab;
}

#medium-image, #large-image {
    display: none;
}

#windChillBtn {
    font-family: 'Red Hat Mono', monospace;
    padding: .2rem;
    color: #fff;
    margin-top: .5rem;
}

#output {
    font-weight: bold;
}

footer {
    margin-top:0;
}

main {
    padding: .5em;
}

.galleryImg {
    width: 100%;
    margin-top: .25em;
    margin-bottom: .25em;
}

input,
select,
textarea,
button {
    padding: .5rem;
    margin: .5rem;
}

.formfield {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: #dbc1ab;
    padding: .5em;
}

#business, #membership {
    margin: 1rem;
}

#submitLabel {
    display: none;
}

label, input, .galleryCtn {
    font-family: Arial, Helvetica, sans-serif;
}

.levels {
    display: none;
}

.galleryCtn {
    background-color: #dbc1ab;
    padding: .5em;
    margin: 1em;
}

#contact {
    background-color: #dbc1ab;
    padding: 1em;
}

.leaderCtn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    padding: .75em;
    margin: 1em;
}

.boardLeader {
    margin: .5em;
    color: #dbc1ab;
}

#cta {
    text-align: center;
}

main div {
    font-family: Arial, Helvetica, sans-serif;
}

figure {
    margin: 0;
}

#meetAndGreet {
    font-family: Arial, Helvetica, sans-serif;
}